.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 4px;
    
}

.btn-primary{
    background-color: #007bff;
    border: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3; /* hover effect */
}
