.profiles{
    width: 100%;
    height: 50px;
    padding: 2em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-icon{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-name{
    color: var(--font-color);
    margin-left: 0.5em;
}
.name{
    font-weight: 700;
}
.profile-cont{
    margin-top: 2px;
}
.profile-time{
    color: var(--font-color);
}

@media (min-width: 576px){
    .profiles{
        width: 35%;
        height: 50px;
        padding: 2em;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}