*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

:root{
  --bg-color: black;
  --font-color: white;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/static/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/static/Roboto-Light.ttf') format('trutype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/static/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Roboto Black */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body, div, p, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* default weight */
}

/* Example for bold */
h1, h2, h3, strong, button {
  font-weight: 700; /* Bold Roboto */
}
